body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;
}

/* Barra inferior */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #2da8ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

/* Íconos*/
.nav-item {
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.2s, color 0.2s;
  object-fit: contain;
}

.nav-item:active {
  transform: scale(0.9);
}


.inicio i { color: white; }
.libros i { color: white; }
.perfil i { color: white; }
.foro i { color: white; }

/* Botón flotante */
.fab {
  position: fixed;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 4px solid #2a76c4;
  color: #2a76c4;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  cursor: pointer;
}
.inicio img {
  width: 28px;
  height: 28px; 
}
.foro img {
    width: 28px;
    height: 28px;
}
.libros img {
    width: 28px;
    height: 28px;
}
.perfil img {
    width: 28px;
    height: 28px;
}
.fab img {
  width: 40px;   
  height: 40px;  
  object-fit: contain;  
}
.fab:active {
  transform: translateX(-50%) scale(0.95);
}
