body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Calibri, sans-serif;
  background: linear-gradient(to bottom right, #b3e5fc, #0288d1);
  color: #01579b;
  display: flex;
  justify-content: center;
  align-items: center;
}

#error-box {
  background-color: white;
  border: 2px solid #ef4444;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 25px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
  margin: 20px 0;
}

h1 {
  color: #ef4444;
  font-size: 28px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

p {
  color: #01579b;
  font-size: 16px;
  margin-bottom: 24px;
}

a {
  display: inline-block;
  text-decoration: none;
  background-color: #0288d1;
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  transition: background-color 0.3s;
  text-transform: uppercase;
  font-size: 16px;
}

a:hover {
  background-color: #0277bd;
}