<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barra Inferior</title>
  <link rel="stylesheet" href="navigatioon.css">
</head>
<body>

  <!-- barra abajo -->
  <nav class="bottom-nav">
    <a href="#" class="nav-item inicio">
      <img src="hoem.png" alt="Inicio">
    </a>
    <a href="#" class="nav-item libros">
      <img src="libros.png" alt="Libros">
    </a>
    <a href="#" class="nav-item perfil">
      <img src="foro.png" alt="Foro">
    </a>
    <a href="#" class="nav-item foro">
      <img src="persona.png" alt="Perfil">
    </a>
  </nav>

  <!-- mas-->
  <div class="fab">
    <img src="mas.png" alt="mas">
  </div>

</body>
</html>
