<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>info libro</title>
    <link rel="stylesheet" href="PUbookInfo.css">
</head>
<body>
     <!-- Modal detalle libro -->
  <div id="modalLibro" class="modal oculto">

    <div class="modal-content">

      <h3 id="detalleTitulo">Titulo</h3>

      <img id="detalleImagen" src="#" alt="Imagen del libro">

      <p id="detalleAutor">Autor</p>

      <p id="detalleGenero">Genero</p>

      <p id="detalleSinopsis">Sinopsis</p>

      
        <a href="formLibros.html" target="_self">
            <button>reservar</button>
    
    
    
        </a>
    </div>
  </div>
</body>
</html>
